{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{> "components/header" headerStyle=@custom.header_style}}

<section class="gh-container has-sidebar gh-outer">
    <div class="gh-container-inner gh-inner">
        <main class="gh-main">

            {{#match @custom.header_style "!=" "Highlight"}}
                {{> "components/featured" showFeatured=@custom.show_featured_posts limit=4 skipContainer=true}}
            {{/match}}

            {{> "components/cta"}}

            <h2 class="gh-latest-title">Latest</h2>

            {{> "components/latest-full-post"}}

            {{> "components/post-list" feed="home" postFeedStyle=@custom.post_feed_style showTitle=true showSidebar=false skipContainer=true skipFirst=true}}

        </main>
        
        {{#if @custom.show_publication_info_sidebar}}
            <aside class="gh-sidebar">
                <div class="gh-sidebar-inner">
                    <section class="gh-about">
                        {{#if @site.icon}}
                            <img class="gh-about-icon" src="{{@site.icon}}" alt="{{@site.title}}" loading="lazy">
                        {{/if}}
                        <h3 class="gh-about-title is-title">{{@site.title}}</h3>
                        {{#if @site.description}}
                            <p class="gh-about-description is-body">{{@site.description}}</p>
                        {{/if}}

                        <a href="http://www.projectrho.com/public_html/rocket/sealofapproval.php#id--Science_Fiction_Novels--Vignettes_of_the_Star_Empire">
                        <img class="gh-sidebar-image" src="/assets/images/atomic-rocket-seal-128.png" alt="Atomic Rocket: Seal of Approval" loading="lazy">
                        </a>

                        <p class="gh-about-description is-body">Enjoy my nanofic?</p>

                        {{#if @site.members_enabled}}
                            {{#unless @member}}
                                <button class="gh-button" data-portal="signup">Subscribe</button>
                            {{else}}
                                {{#if @site.paid_members_enabled}}
                                    {{#unless @member.paid}}
                                        <button class="gh-button" data-portal="upgrade">Upgrade</button>
                                    {{/unless}}
                                {{/if}}
                            {{/unless}}
                        {{/if}}

                        <p class="gh-about-description is-body">Want to support my writing? Please also consider pledging a monthly donation to support me long-term.</p>

                        <p class="gh-about-description is-body">Alternatively, you can support me through Liberapay:</p>

                        <p>
                          <script src="https://liberapay.com/eldraeverse/widgets/button.js"></script>
                          <noscript>
                            <a href="https://liberapay.com/eldraeverse/donate">
                              <img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg">
                            </a>
                          </noscript>
                        </p>

                        <p class="gh-about-description is-body">Or Patreon:</p>

                        <p>
                          <a href="https://www.patreon.com/bePatron?u=93809" data-patreon-widget-type="become-patron-button">Become a Patron!</a>
                          <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
                        </p>

                        <p class="gh-about-description is-body">I very much appreciate any contributions, large or small. Thank you kindly in advance for helping me spend more time doing the thing I love.</p>

                        <a href="http://www.projectrho.com/public_html/rocket/index.php">
                        <img class="gh-sidebar-image" src="/assets/images/atomic-rocket-patron-128.png" alt="Atomic Rocket: Patron Level Gamma" loading="lazy">
                        </a>

                    </section>
                    {{#if @site.recommendations_enabled}}
                        <section class="gh-recommendations">
                            <h4 class="gh-sidebar-title">Recommendations</h4>
                            {{recommendations}}
                            <button data-portal="recommendations">See all {{> "icons/arrow"}}</button>
                        </section>
                    {{/if}}
                </div>
            </aside>
        {{/if}}
    </div>
</section>
