{{!--
    Latest Full Post Component
    Displays the most recent post in full on the homepage
    Located between Featured section and Latest (archive) list
--}}

<h2 class="gh-latest-title">Latest</h2>

{{#get "posts" limit="1" include="authors"}}
    {{#foreach posts}}
        <article class="gh-latest-full-post">
            <header class="gh-latest-header">
                <h3 class="gh-latest-post-title is-title">
                    <a href="{{url}}">{{title}}</a>
                </h3>
                
                {{#if custom_excerpt}}
                    <p class="gh-latest-excerpt is-body">{{custom_excerpt}}</p>
                {{/if}}
                
                {{#if @custom.show_post_metadata}}
                    <div class="gh-latest-meta">
                        <div class="gh-latest-author-image">
                            {{#foreach authors}}
                                {{#if profile_image}}
                                    <a href="{{url}}">
                                        <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}">
                                    </a>
                                {{else}}
                                    <a href="{{url}}">{{> "icons/avatar"}}</a>
                                {{/if}}
                            {{/foreach}}
                        </div>
                        <div class="gh-latest-meta-wrapper">
                            <h4 class="gh-latest-author-name">{{authors}}</h4>
                            <div class="gh-latest-meta-content">
                                <time class="gh-latest-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                                {{#if reading_time}}
                                    <span class="gh-latest-meta-length"><span class="bull">—</span> {{reading_time}}</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            </header>
            
            {{> "feature-image"}}
            
            <p class="gh-latest-cta">
                <a href="{{url}}" class="gh-button">Read more & comment {{> "icons/arrow"}}</a>
            </p>
        </article>
    {{/foreach}}
{{/get}}
